



.home {
  text-align: center;
  padding-top: 160px;
  font-family: 'Fredoka', sans-serif;
  background-color: #fff;
  min-height: 81vh;
  justify-content: center;
 
}

h1, h6{
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  color: #5D3A3A;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  color: #5D3A3A;
  background-color: #FFC1CC;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: hotpink;
  color: white;
}
