.custom-navbar {
  background-color: #FADADD(247, 205, 241) !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #5D3A3A !important; 
  font-weight: 600;
}

.custom-navbar .nav-link:hover {
  color: hotpink !important; 
}
