.custom-navbar {
  background-color: rgb(247, 205, 241) !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #6e2359 !important; 
  font-weight: 600;
}

.custom-navbar .nav-link:hover {
  color: hotpink !important; 
}
